{% extends "base.html" %}
{% load static %}


{% block title %}
Login Page
{% endblock %}

{% block style %}
   <link rel="stylesheet" href="{% static 'tweet/login.css' %}">
{% endblock %}



{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form class="login-form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-btn">Login</button>
    </form>
    <div class="login-links">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>
{% endblock %}
