{% extends "base.html" %}
{% load static %}

{% block title %}
Register Page
{% endblock %}

{% block style %}
   <link rel="stylesheet" href="{% static 'tweet/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Register</h2>
    <form class="login-form" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-btn">Register</button>
    </form>
    <div class="login-links">
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}
