{% extends "base.html" %}
{% load static %}

{% block title %}
tweets detail
{% endblock %}

{% block style %}
   <link rel="stylesheet" href="{% static 'tweet/tweet_detail.css' %}">
{% endblock %}

{% block content %}
 <div class="container">
    <div class="image-wrapper">
      {% if tweet.photo %}
    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Image">
      {% else %}
    <img src="/media/tweet/photos/nophoto.png" class="card-img-top" alt="picture no avilable ">
        {% endif %}
      
    </div>
    <div class="content">
      <div class="description">{{ tweet.text }}</div>
      {% if tweet.dis %}
      <div class="paragraph"  style="white-space: pre-line;" >
        {{ tweet.dis }}
      </div>
      {% else %}
      <div class="paragraph">There is no details given by the user for this blog
      </div>
      {% endif %}
      <a href=" {% url "tweet_list" %} " class="btn backbtn">Back to Home</a>
    </div>
  </div>


{% endblock %} 